table {
	/*border-radius: 8px;*/
	/*background-image: linear-gradient(lightsteelblue, white, lightsteelblue, white);*/
	/*background-color: transparent;*/
	background-image: linear-gradient(white, white, white);
	/*background-color: white;*/
	position: relative;
	border-collapse: collapse;
}

tr {
	text-align: center;
	border: silver;
}

.sticky1 th{
	position: sticky;
	background-color: white;
	top: -0.5%;
}

.sticky th{
	position: sticky;
	background-color: white;
	top: 3.5%;
	color: black;
}

th {
	color: darkslategray;
	
}

.titleTextStyle {
	color: black;
	font-size: 18px;
	/*text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;*/
}

.cellBorder {
	/*border: transparent;*/
	/*border-radius: 8px;*/
		background-image: linear-gradient(white, transparent, white);
		border-color: gainsboro;
		border-collapse: collapse;
}

.buttonStyle {
	/*border-radius: solid outset 1px;*/
	font-size: 12px;
	border-style: outset;
	background-image: linear-gradient(white, #B8860B, white);
}

.buttonStyle:hover {
	border-radius: solid inset black;
	background-image: linear-gradient(white, yellow, white);
}

.centerCell {
	text-align: center;
	vertical-align: middle;
}

.expandWidthCell {
	width: 100px;
}


thead {
	/*border-radius: 8px;*/
	/*color: white;*/
	font-size: 15px;
	color: white;
	height: 30px; 
	background-image: linear-gradient(white, white, white);	
}



.tableContainer {
	/*position: relative;*/
	left: 10%;
	/*overflow-y: scroll;*/

}

/*.policyTableContainer {
	position: absolute;
	top: 15%;

	margin-left: 40%;
	color: blue;
	z-index: 10;
}*/



.policyTableStyle {
	position: fixed;
	top: 42%;
	margin-left: 59.5%;
	color: blue;
	z-index: 5;
}

.statusTableStyle {
	position: fixed;
	top: 15%;
	margin-left: 60.5%;
	z-index: 5;
}

.statusTableContainer {
/*position: absolute;*/
/*	top: 5%;
	margin-left: 61%;
	z-index: 5;*/
}

.voucherContainer {
	position: fixed;
	margin-left: 60.5%;
	margin-top: 0%;
}

.statusTableStyle th {
	width: 200px;
}

.statusTableStyle th, td {
	/*border-radius: 8px;*/
}

.totalTextStyle {
	font-size: 14px;
	font-weight: bold;
}

.doneTextStyle {
	color: black;
	font-size: 14px;
	font-weight: bold;
	background-image: linear-gradient(white, limegreen, white);
	/*text-shadow: -0.5px 0px black, 0px 0.5px black, 0.5px 0px black, 0px -0.5px black;*/
}

.empComplete {
	color: blue !important;
}

.notDoneTextStyle {
	color: black;
	font-size: 14px; 
	font-weight: bold;
	width: 90px;
	background-image: linear-gradient(white, orange, white);
}

.empIncomplete {
	color: red !important;
}

.blackText {
	font-size: 14px;
	/*font-weight: bold;*/
	color: black;
	width: 120px;
	background-image: linear-gradient(white, moccasin, white);
}

.infoText {
	width: 250px;
	background-image: linear-gradient(white, transparent, white);
}

.effectiveDateStyle {
	font-weight: bold;
	color: limegreen;
}

.lastDateStyle {
	font-weight: bold;
	color: red;
}

.highlightProcess {
	font-weight: bold;
	background-image: linear-gradient(90deg, white, gold, white, gold, white);
}

.highlightDone {
	font-weight: bold;
	background-image: linear-gradient(330deg, white, white, white, lime, white, white, lime, white, white, lime);
	
}

.processButtonStyle {
	/*font-weight: bold;*/
	/*border: red;*/
	width: 80px;
	height: 22px;
	background-image: linear-gradient(white, goldenrod, white);
	cursor: pointer;
}

.doneButtonStyle {
	/*font-weight: bold;*/
	/*color: white;*/
	width: 50px;
	height: 22px;
	background-image: linear-gradient(white, mediumseagreen, white);
	cursor: pointer;
}

.refreshButtonStyle {
	/*font-weight: bold;*/
	width: 70px;
	height: 22px;
	background-image: linear-gradient(white, lightblue, white);
	cursor: pointer;
}



.processButtonStyle, .doneButtonStyle, .refreshButtonStyle {
	/*border-radius: 8px;*/
	border: 1px solid outset black;
	box-shadow: 2px 5px 10px gray;
	border-width: 2px;
}

.doneButtonStyle:hover {
	font-weight: bold;
	background-image: linear-gradient(white, lime, white);

}

.processButtonStyle:hover {
	font-weight: bold;
	background-image: linear-gradient(white, yellow, white);
}

.refreshButtonStyle:hover {
	font-weight: bold;
	background-image: linear-gradient(white, cyan, white);
}

.doneButtonStyle:hover, .processButtonStyle:hover, .refreshButtonStyle:hover {
	/*font-size: 10px;*/
	box-shadow: 1px 3px 8px gray;
	border-width: 1px;
}

.noHighLight:hover {
	background-image: linear-gradient(330deg, white, white, white, gold, white, white, gold, white, white, gold);
}

body {
	display: flex;
	flex-direction: column;
	/*position: relative;*/
	background-image: url('background.png');
	/*position: center;*/
	background-size: cover;
	background-repeat: no-repeat;


	/*background-image: linear-gradient(white, lightblue, white);*/
}

.statusTableStyle {
	background-color: transparent;
	/*border: solid outset silver;*/
	border: silver;
}

.statusStyle {
	background-color: transparent;
	background-image: linear-gradient(white, transparent, white);
	/*text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;*/
}





.percentComplete {
  position: relative;
  /*width: 100%;*/
  height: 20px; /* Height of the progress bar */
  background: linear-gradient(to top, gray 0%, gray 100%); /* Gradient for the background */
  border-radius: 15px;
  overflow: hidden;
}

.progressBar {
  display: flex;
  height: 100%;
  width: 100%;
  background: transparent;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  animation: progressBarAnimation 0.5s ease-in-out infinite;
}

.progressBar div {
  flex: 1;
  background: linear-gradient(to top, #76c7c0 0%, lime 50%, #B2FFBC 70%, lime 100%);
  transition: all 0.3s ease-in-out;

}

.percenPortionCompleted {
  background: linear-gradient(to top, #76c7c0 0%, lime 100%); /* Gradient for completed portions */
  
}

.progressBar div:not(.percenPortionCompleted) {
	border: solid 1;
  background: linear-gradient(to top, gray 0%,	gray); /* Gradient for incomplete portions */
}

@keyframes progressBarAnimation {
  0% {
    transform: translateX(-2%);
  }

  20% {
    transform: translateX(-1.5%);
  }

  40% {
    transform: translateX(-1%);
  }

  50% {
    transform: translateX(-0.5%);
  }

  60% {
    transform: translateX(-1%);
  }

  80% {
    transform: translateX(-1.5%);
  }

  100% {
    transform: translateX(-2%);
  }
}







.statusEmp {
	width: 120px;
	text-align: right;
}

.empStatusStyle {
	height: 30px;
	color: black;
	background-image: linear-gradient(white, lightgreen, white);
}

.policyStyle {
	font-size: 18px;
	height: 30px;
	font-weight: bold;
	color: black;
	background-image: linear-gradient(white, moccasin, white);
}

.addSectionTextStyle {

}

.boxInput {
	border: outset silver 1px;
	border: 15;
	border-radius: 5px;
	background-color: white;
}

.addButton {
	font-size: 10px;
	font-weight: bold;
	height: 22px;
	width: 40px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-radius: 5px;
	border: outset silver 1px;
	background-image: linear-gradient(white, silver, white);
}

.addButton:hover {
	border: inset silver 1px;
	background-image: linear-gradient(silver, white, silver);
}

.green {
	background-image: linear-gradient(white, lime, white);
}

.red {
	color: white;
	background-image: linear-gradient(white, red, white);
	animation: expiredAnimation 1s ease-in-out infinite;
}

@keyframes expiredAnimation {
	0% {
		box-shadow: 0px 0px 1px red;
	}

	50% {
		box-shadow: 0px 0px 15px red;
	}

	100% {
		box-shadow: 0px 0px 20px red;
	}
}

.orange {
	background-image: linear-gradient(white, orange, white);
}


.csvStyle {
	position: fixed;
	margin-left: 60.3%;
	margin-top: 10.2%;
	
	z-index: 10;

}

.csvStyle button, .modalSection button {
	font-size: 12px;
	padding: 5px 10px 5px 10px;
	font-weight: bold;
	border-radius: 5px;
	border: outset silver 1px;
	background-image: linear-gradient(white, silver, white);
}

.csvStyle button:hover, .modalSection button:hover {
	color: black;

	border: inset silver 1px;
	background-image: linear-gradient(silver, white, silver);
}

#myDialog .tableContainer{
	padding: 10px 50px;
}
#myDialog .tableContainer table {
	width: 800px;
}

#myDialog button {
	margin-left: 94%;
	border-radius: 6px;
	background-image: linear-gradient(white, silver, white);
	border: solid silver 1px;
}

#myDialog button:hover {
	margin-left: 94%;
	border-radius: 6px;
	background-image: linear-gradient(silver, white, silver);
}

.dialogCloseButton {
	/*position: absolute;*/
	padding-bottom: 5px;
}

.silver {
	background-color: gainsboro;
}

.white {
	background-color: white;
}

.modalSection {
	position: fixed;
	margin-left: 68.9%;
	margin-top: 10.2%;
	z-index: 10;
}

.textSize {
	font-weight: bold;
	font-size: 12px;
	height: 30px;
}

.generateButton, .addButton, #myDialog button {
	background-image: linear-gradient(silver, white, silver);
	border-radius: 4px;
	border: outset silver 1px;
	box-shadow: 3px 3px 5px gray;
	border-width: 3px;
	transition: border-width 0.3s, box-shadow 0.3s;
	cursor: pointer;
	/*border: 1px double silver;*/
	/*border: solid silver 1px;*/
}

.generateButton:hover, .addButton:hover, #myDialog button:hover {
	background-image: linear-gradient(gainsboro, white, gainsboro);
	border-radius: 4px;
	border-style: inset;
	border: solid silver 1px;
	box-shadow: 1px 2px 3px gray;
	border-width: 2px;
	/*transition: 10s;*/
	/*transition: border-width 0.5s, box-shadow 0.5s;*/
}

.fa-cloud-download {
	/*background-image: linear-gradient(white, yellow, white);*/
	color: deepskyblue;
	/*background-color: white;*/
}

dialog table {
	position: relative;
	flex-direction: column;
}

dialog {
	
	
    border: 4px solid gray;
    /*border-image: linear-gradient(to right, #ff7f50, #ff6347, #ff4500) 1;*/
    border-radius: 8px;
    border-color: gray;
}

.stickyModelTitle th {
	position: sticky;
	background-color: white;
	top: -2.5%;
	z-index: 2;
}

.groupTitle th {
	position: sticky;
	background-color: white;
	top: 1%;
	z-index: 2;
}

.groupSpecific th {
	position: sticky;
	background-color: white;
	color: black;
	top: 4.5%;
	z-index: 5;
}

/*.addEmp {
	float: right;
	margin-left: 300px;
}*/

.theadBorder {
	/*border: 1px solid gray;*/
}
/*.modalSection button {
	font-size: 12px;
	padding: 5px 10px 5px 10px;
	font-weight: bold;
	border-radius: 5px;
	border: outset silver 1px;
	background-image: linear-gradient(white, silver, white);
}

.modalSection button:hover {
	font-size: 12px;
	padding: 5px 10px 5px 10px;
	font-weight: bold;
	border-radius: 5px;
	border: outset silver 1px;
	background-image: linear-gradient(white, silver, white);
}*/

.addButton {
	cursor: copy;
}

.voucherTableStyle {
	color: black;
	font-size: 18px;
}

.statusChangeSummary {
	text-align: center;
}






